/*!
 * vanillajs v1.3.0
 * The theme for vanillajspodcast.com
 * (c) 2019 Chris Ferdinandi
 * MIT License
 * http://github.com/cferdinandi/vanilla-js-podcast
 */

/**
 * @section Normalize.css
 * Normalize.css base with custom code.
 * Additional normalize styles incorporated throughout components.
 * @link http://necolas.github.io/normalize.css/
 */
/**
  * Mobile screen resizing
  * @link http://dev.w3.org/csswg/css-device-adapt/
  */
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}

@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}

@-o-viewport {
  width: device-width;
  zoom: 1.0;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

/**
 * Remove the tap delay in webkit
 * @link https://medium.com/@adactio/delay-a9df9edceef3#.7dmbl3xow
 */
/* line 23, src/sass/components/_normalize.scss */
a, .link-block-styled,
button,
input,
select,
textarea,
label,
summary {
  touch-action: manipulation;
}

/**
 * Add box sizing to everything
 * @link http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
/* line 38, src/sass/components/_normalize.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/**
 * 1. Force scrollbar display to prevent jumping on pages.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 50, src/sass/components/_normalize.scss */
html {
  overflow-y: scroll;
  /* 1 */
  text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 58, src/sass/components/_normalize.scss */
body {
  margin: 0;
}

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 68, src/sass/components/_normalize.scss */
article,
aside,
cite,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 87, src/sass/components/_normalize.scss */
summary {
  display: list-item;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 94, src/sass/components/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
}

/**
 * Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 104, src/sass/components/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 112, src/sass/components/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Prevent img and video elements from spilling outside of the page on smaller screens.
 */
/* line 120, src/sass/components/_normalize.scss */
img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Prevent iframe, object, and embed elements from spilling outside of the page on smaller screens.
 * height: auto causes iframes to smush, so it's omitted here.
 */
/* line 130, src/sass/components/_normalize.scss */
iframe,
object,
embed {
  max-width: 100%;
}

/**
 * Hide the template element in IE, Safari, and Firefox < 22.
 */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Prevents IE from making scaled images look like crap
 */
/* line 147, src/sass/components/_normalize.scss */
img {
  border-style: none;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 155, src/sass/components/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/**
 * Address inconsistent margin.
 */
/* line 162, src/sass/components/_normalize.scss */
figure {
  margin: 0;
}

/**
 * @workaround Remove focus from <main> element when using tabindex="-1" hack for skipnav link
 * @link https://code.google.com/p/chromium/issues/detail?id=37721
 */
/* line 170, src/sass/components/_normalize.scss */
[tabindex="-1"]:focus {
  outline: none;
}

/**
 * @section Grid
 * Structure and layout
 */
/**
 * Base grid styles: single column
 */
/* line 9, src/sass/components/_grid.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 38em;
  width: 88%;
}

/* line 16, src/sass/components/_grid.scss */
.container-large {
  max-width: 60em;
}

/* line 20, src/sass/components/_grid.scss */
.row {
  margin-left: -1.4%;
  margin-right: -1.4%;
}

/* line 25, src/sass/components/_grid.scss */
.grid-fourth, .grid-third, .grid-half, .grid-two-thirds, .grid-three-fourths {
  float: left;
  padding-left: 1.4%;
  padding-right: 1.4%;
  width: 100%;
}

/**
 * Reverses order of grid for content choreography
 */
/* line 42, src/sass/components/_grid.scss */
.grid-flip {
  float: right;
}

/**
 * Add columns to grid on bigger screens
 */
@media (min-width: 38em) {
  /* line 53, src/sass/components/_grid.scss */
  .grid-fourth {
    width: 25%;
  }
  /* line 53, src/sass/components/_grid.scss */
  .grid-third {
    width: 33.33333%;
  }
  /* line 53, src/sass/components/_grid.scss */
  .grid-half {
    width: 50%;
  }
  /* line 53, src/sass/components/_grid.scss */
  .grid-two-thirds {
    width: 66.66667%;
  }
  /* line 53, src/sass/components/_grid.scss */
  .grid-three-fourths {
    width: 75%;
  }
  /* line 59, src/sass/components/_grid.scss */
  .offset-fourth {
    margin-left: 25%;
  }
  /* line 59, src/sass/components/_grid.scss */
  .offset-third {
    margin-left: 33.33333%;
  }
  /* line 59, src/sass/components/_grid.scss */
  .offset-half {
    margin-left: 50%;
  }
  /* line 59, src/sass/components/_grid.scss */
  .offset-two-thirds {
    margin-left: 66.66667%;
  }
  /* line 59, src/sass/components/_grid.scss */
  .offset-three-fourths {
    margin-left: 75%;
  }
}

/**
 * Dynamic grid
 */
/**
 * @section Typography
 * Sets font styles for entire site
 */
/* line 6, src/sass/components/_typography.scss */
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  /* line 6, src/sass/components/_typography.scss */
  html {
    scroll-behavior: auto;
  }
}

/* line 14, src/sass/components/_typography.scss */
body {
  background: #ffffff;
  border-top: 0.5em solid #e5e5e5;
  color: #272727;
  font-family: Georgia, serif;
  font-size: 112.5%;
  line-height: 1.5;
}

/* line 22, src/sass/components/_typography.scss */
.fonts-loaded body {
  font-family: "PT Serif", serif;
}

@media (min-width: 38em) {
  /* line 14, src/sass/components/_typography.scss */
  body {
    line-height: 1.5625em;
  }
}

/* line 31, src/sass/components/_typography.scss */
p {
  margin: 0 0 1.5625em;
}

/**
 * Hyperlink styling
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 42, src/sass/components/_typography.scss */
a, .link-block-styled {
  background-color: transparent;
  /* 1 */
  color: #0088cc;
  text-decoration: underline;
  text-decoration-skip: ink;
  /* 2 */
  text-decoration-skip-ink: auto;
  /* 2 */
  word-wrap: break-word;
  /**
	 * Improve readability when focused and also mouse hovered in all browsers.
	 */
}

/* line 53, src/sass/components/_typography.scss */
a:active, .link-block-styled:active, a:hover, .link-block-styled:hover, .link-block:hover .link-block-styled {
  outline: 0;
}

/* line 58, src/sass/components/_typography.scss */
a:active, .link-block-styled:active, a:focus, .link-block-styled:focus, a:hover, .link-block-styled:hover, .link-block:hover .link-block-styled {
  color: #005580;
}

/* line 65, src/sass/components/_typography.scss */
a:visited, .link-block-styled:visited {
  color: #800080;
}

/* line 71, src/sass/components/_typography.scss */
.link-no-underline, .nav-secondary a, .nav-secondary .link-block-styled {
  text-decoration: none;
}

/* line 74, src/sass/components/_typography.scss */
.link-no-underline:active, .nav-secondary a:active, .nav-secondary .link-block-styled:active, .link-no-underline:focus, .nav-secondary a:focus, .nav-secondary .link-block-styled:focus, .link-no-underline:hover, .nav-secondary a:hover, .nav-secondary .link-block-styled:hover, .nav-secondary .link-block:hover .link-block-styled, .link-block:hover .nav-secondary .link-block-styled {
  text-decoration: underline;
}

/**
 * Remove default link styling
 */
/* line 86, src/sass/components/_typography.scss */
.link-plain, .link-plain:visited {
  color: #272727;
  text-decoration: none;
}

/* line 92, src/sass/components/_typography.scss */
.link-plain:active, .link-plain:focus, .link-plain:hover {
  color: #0088cc;
}

/**
 * Creates block-level links
 */
/* line 105, src/sass/components/_typography.scss */
a.link-block, .link-block.link-block-styled {
  color: #272727;
  display: block;
  text-decoration: none;
}

/**
 * List styling
 */
/* line 124, src/sass/components/_typography.scss */
ul,
ol {
  margin: 0 0 1.5625em 2em;
  padding: 0;
}

/* line 130, src/sass/components/_typography.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 137, src/sass/components/_typography.scss */
li {
  margin-bottom: 0.5em;
}

@media (min-width: 38em) {
  /* line 137, src/sass/components/_typography.scss */
  li {
    margin-bottom: 0.25em;
  }
}

/* line 144, src/sass/components/_typography.scss */
.list-spaced li {
  margin-bottom: 1em;
}

@media (min-width: 38em) {
  /* line 144, src/sass/components/_typography.scss */
  .list-spaced li {
    margin-bottom: 0.6875em;
  }
}

/* line 153, src/sass/components/_typography.scss */
dl,
dd {
  margin: 0;
  padding: 0;
}

/* line 159, src/sass/components/_typography.scss */
dd {
  margin-bottom: 1.5625em;
}

/* line 163, src/sass/components/_typography.scss */
dt {
  font-weight: bold;
}

/**
 * Removes list styling.
 * For semantic reasons, should only be used on unordered lists.
 */
/* line 171, src/sass/components/_typography.scss */
.list-unstyled {
  margin-left: 0;
  list-style: none;
}

/**
 * Display lists on a single line.
 */
/* line 180, src/sass/components/_typography.scss */
.list-inline {
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0;
}

/* line 186, src/sass/components/_typography.scss */
.list-inline li {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

@media (max-width: 38em) {
  /* line 193, src/sass/components/_typography.scss */
  .list-inline.list-inline-responsive li {
    display: block;
  }
}

/* line 200, src/sass/components/_typography.scss */
.list-inline-spaced {
  margin-left: -1em;
  margin-right: -1em;
}

/* line 204, src/sass/components/_typography.scss */
.list-inline-spaced li {
  margin-left: 1em;
  margin-right: 1em;
}

/**
 * @bugfix webkit doesn't read unstyled lists as lists
 * 1. non-breaking space
 * 2. Makes sure it doesn't mess up the DOM flow
 */
/* line 217, src/sass/components/_typography.scss */
.list-unstyled > li:before,
.list-inline > li:before {
  content: "\200B";
  /* 1 */
  position: absolute;
  /* 2 */
}

/**
 * Heading styling for h1 through h6 elements.
 * Heading class lets you use one heading type for semantics, but style it as another heading type.
 */
/* line 229, src/sass/components/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 1em;
  padding: 1em 0 0;
  word-wrap: break-word;
}

/* line 237, src/sass/components/_typography.scss */
h1,
.h1 {
  font-size: 1.5em;
  padding-top: .5em;
}

@media (min-width: 38em) {
  /* line 237, src/sass/components/_typography.scss */
  h1,
  .h1 {
    font-size: 1.75em;
  }
}

/* line 247, src/sass/components/_typography.scss */
h2,
.h2 {
  font-size: 1.3125em;
}

/* line 252, src/sass/components/_typography.scss */
h3,
.h3 {
  font-size: 1.1875em;
}

/* line 257, src/sass/components/_typography.scss */
h4, h5, h6,
.h4, .h5, .h6 {
  font-size: 1em;
}

/* line 262, src/sass/components/_typography.scss */
h4,
.h4 {
  text-transform: uppercase;
}

/**
 * Lines, Quotes and Emphasis
 */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 276, src/sass/components/_typography.scss */
hr {
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 0 solid transparent;
  box-sizing: content-box;
  /* 1 */
  margin: 2em auto;
  overflow: visible;
  /* 2 */
}

/* line 285, src/sass/components/_typography.scss */
.line-secondary {
  width: 50%;
}

/* line 289, src/sass/components/_typography.scss */
.line-clear {
  border-top-color: transparent;
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 296, src/sass/components/_typography.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 304, src/sass/components/_typography.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 313, src/sass/components/_typography.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 322, src/sass/components/_typography.scss */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 329, src/sass/components/_typography.scss */
mark {
  background: #fbf9c9;
  color: #272727;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 339, src/sass/components/_typography.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 346, src/sass/components/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 354, src/sass/components/_typography.scss */
sup {
  top: -0.5em;
}

/* line 358, src/sass/components/_typography.scss */
sub {
  bottom: -0.25em;
}

/**
 * Blockquotes
 */
/* line 367, src/sass/components/_typography.scss */
blockquote {
  border-left: 0.25em solid #e5e5e5;
  font-style: italic;
  margin: 0 0 1.5625em;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 375, src/sass/components/_typography.scss */
blockquote cite {
  color: #808080;
  font-size: 0.9375em;
  padding-top: 1em;
}

/* line 382, src/sass/components/_typography.scss */
blockquote,
q {
  quotes: none;
}

/* line 387, src/sass/components/_typography.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

/**
 * @section Code
 * Styling for code and preformatted text.
 */
/* line 6, src/sass/components/_code.scss */
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.875em;
}

/* line 14, src/sass/components/_code.scss */
code {
  color: #dd1144;
  padding: 0.25em;
  word-wrap: break-word;
}

/* line 20, src/sass/components/_code.scss */
pre {
  background-color: #f7f7f7;
  display: block;
  line-height: 1.5;
  margin-bottom: 1.5625em;
  overflow: auto;
  padding: 0.8125em;
  tab-size: 4;
  white-space: pre-wrap;
  word-break: break-all;
}

/* line 31, src/sass/components/_code.scss */
pre code {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-size: 1em;
  padding: 0;
}

/**
 * @section Chroma syntax highlighting
 * Styles for Hugo's syntax highlighting engine
 */
@media screen {
  /* line 10, src/sass/components/_chroma.scss */
  .chroma .err,
  .chroma .kc,
  .chroma .no,
  .chroma .py,
  .chroma .nt,
  .chroma .ss,
  .chroma .m,
  .chroma .mb,
  .chroma .mf,
  .chroma .mh,
  .chroma .mi,
  .chroma .il,
  .chroma .mo {
    color: #905;
  }
  /* line 26, src/sass/components/_chroma.scss */
  .chroma .k,
  .chroma .kd,
  .chroma .kn,
  .chroma .kp,
  .chroma .kr,
  .chroma .kt,
  .chroma .nb,
  .chroma .s {
    color: #07a;
  }
  /* line 37, src/sass/components/_chroma.scss */
  .chroma .n,
  .chroma .na,
  .chroma .nc,
  .chroma .ne,
  .chroma .l,
  .chroma .ld,
  .chroma .sa,
  .chroma .sb,
  .chroma .sc,
  .chroma .dl,
  .chroma .s1,
  .chroma .s2,
  .chroma .se,
  .chroma .sh,
  .chroma .si,
  .chroma .sx {
    color: #690;
  }
  /* line 56, src/sass/components/_chroma.scss */
  .chroma .bp,
  .chroma .nd,
  .chroma .nl,
  .chroma .sd,
  .chroma .p,
  .chroma .c,
  .chroma .ch,
  .chroma .cm,
  .chroma .c1,
  .chroma .cs,
  .chroma .cp,
  .chroma .cpf {
    color: slategray;
  }
  /* line 71, src/sass/components/_chroma.scss */
  .chroma .ni,
  .chroma .o {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
  }
  /* line 77, src/sass/components/_chroma.scss */
  .chroma .nf,
  .chroma .fm,
  .chroma .ow {
    color: #dd4a68;
  }
  /* line 84, src/sass/components/_chroma.scss */
  .chroma .nv,
  .chroma .vc,
  .chroma .vg,
  .chroma .vi,
  .chroma .vm,
  .chroma .sr {
    color: #e90;
  }
  /* line 94, src/sass/components/_chroma.scss */
  .chroma .nn {
    opacity: .7;
  }
  /* line 99, src/sass/components/_chroma.scss */
  .chroma .ge {
    font-style: italic;
  }
  /* line 102, src/sass/components/_chroma.scss */
  .chroma .gs {
    font-weight: bold;
  }
}

/**
 * @section Buttons
 * Styling for CSS buttons.
 */
/**
 * Primary buttons
 */
/* line 10, src/sass/components/_buttons.scss */
.btn {
  background-color: #f7272f;
  border: 0.125em solid #f7272f;
  border-radius: 1px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.9375em;
  font-weight: normal;
  line-height: 1.2;
  margin-right: 0.3125em;
  margin-bottom: 0.3125em;
  padding: 0.5em 0.6875em;
}

/* line 23, src/sass/components/_buttons.scss */
.btn, .btn:visited {
  color: #ffffff;
}

/* line 33, src/sass/components/_buttons.scss */
a.btn, .btn.link-block-styled {
  text-decoration: none;
}

/* line 37, src/sass/components/_buttons.scss */
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background-color: #cb070e;
  border-color: #cb070e;
  color: #ffffff;
}

/**
 * Secondary buttons
 */
/* line 51, src/sass/components/_buttons.scss */
.btn-secondary {
  background-color: #808080;
  border-color: #808080;
}

/* line 61, src/sass/components/_buttons.scss */
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #343434;
  border-color: #343434;
}

/**
 * Active state
 */
/* line 73, src/sass/components/_buttons.scss */
.btn:active,
.btn.active {
  box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 1px 0.15625em rgba(0, 0, 0, 0.05);
  outline: 0;
}

/**
 * Disabled state
 */
/* line 83, src/sass/components/_buttons.scss */
.btn.disabled,
.btn[disabled] {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

/**
 * Button size
 */
/* line 95, src/sass/components/_buttons.scss */
.btn-large {
  font-size: 1em;
  line-height: normal;
  padding: 0.6875em 0.9375em;
}

/**
 * Block-level buttons
 */
/* line 105, src/sass/components/_buttons.scss */
.btn-block,
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  display: block;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

/**
 * General styles
 */
/* line 120, src/sass/components/_buttons.scss */
.btn,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  /**
	 * @workaround Override default button styling
	 * @affected Webkit/Firefox
	 */
  -webkit-appearance: none;
}

/**
 * Remove right margin on last element and inputs
 */
/* line 141, src/sass/components/_buttons.scss */
.btn:last-child,
input.btn {
  margin-right: 0;
}

/**
 * @section Forms
 * Styling for form elements.
 */
/* line 6, src/sass/components/_forms.scss */
form,
fieldset {
  margin-bottom: 1.5625em;
}

/* line 11, src/sass/components/_forms.scss */
fieldset {
  border: 0;
  padding: 0;
}

/* line 16, src/sass/components/_forms.scss */
legend,
label {
  display: block;
  font-weight: normal;
  margin: 0 0 0.3125em;
  padding: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 30, src/sass/components/_forms.scss */
button,
input,
optgroup,
select,
textarea {
  color: #555555;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  padding: 0.3125em;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 44, src/sass/components/_forms.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 54, src/sass/components/_forms.scss */
button,
select {
  text-transform: none;
}

/* line 59, src/sass/components/_forms.scss */
input,
textarea,
select {
  border: 1px solid #b8b8b8;
  display: block;
  line-height: 1.5;
  margin-bottom: 1.1875em;
  width: 100%;
}

@media (min-width: 38em) {
  /* line 59, src/sass/components/_forms.scss */
  input,
  textarea,
  select {
    line-height: 1.5625;
  }
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 77, src/sass/components/_forms.scss */
optgroup {
  font-weight: bold;
}

/* line 81, src/sass/components/_forms.scss */
form button,
form .button {
  margin-bottom: 1.1875em;
}

/* line 86, src/sass/components/_forms.scss */
textarea {
  height: 12em;
  overflow: auto;
}

/* line 91, src/sass/components/_forms.scss */
[type="image"],
[type="checkbox"],
[type="radio"] {
  cursor: pointer;
  display: inline-block;
  height: auto;
  margin-bottom: 0;
  margin-right: 0.3125em;
  padding: 0;
  width: auto;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 108, src/sass/components/_forms.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 113, src/sass/components/_forms.scss */
input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0.5em rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

/* line 121, src/sass/components/_forms.scss */
[type="file"]:focus,
[type="checkbox"]:focus,
select:focus {
  outline: thin dotted;
  outline: 0.3125em auto -webkit-focus-ring-color;
  outline-offset: -0.125em;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 133, src/sass/components/_forms.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 145, src/sass/components/_forms.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 157, src/sass/components/_forms.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Inline inputs
 */
/* line 166, src/sass/components/_forms.scss */
.input-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

/**
 * Search
 */
/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
/* line 191, src/sass/components/_forms.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 201, src/sass/components/_forms.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Create rounded search bar
 */
/* line 210, src/sass/components/_forms.scss */
.input-search {
  width: 85%;
  padding-left: 0.9375em;
  padding-right: 2.5em;
  border-radius: 1.3125em;
  transition: width 300ms ease-in;
}

@media (min-width: 38em) {
  /* line 210, src/sass/components/_forms.scss */
  .input-search {
    width: 65%;
  }
}

/**
 * Special styling for search icon as button
 */
/* line 226, src/sass/components/_forms.scss */
.btn-search {
  display: inline;
  color: #808080;
  border: none;
  background: none;
  margin-left: -2.5em;
  margin-bottom: 0;
}

/* line 234, src/sass/components/_forms.scss */
.btn-search svg {
  fill: #808080;
}

/* line 238, src/sass/components/_forms.scss */
.btn-search:hover {
  color: #5a5a5a;
}

/* line 241, src/sass/components/_forms.scss */
.btn-search:hover svg {
  fill: #5a5a5a;
}

/**
 * @section Form Validation
 * Styling for form validation
 */
/* line 6, src/sass/components/_form-validation.scss */
.error {
  border-color: #e30810;
}

/* line 11, src/sass/components/_form-validation.scss */
.error-message {
  color: #e30810;
  font-style: italic;
  margin-bottom: 1em;
}

/*  Adds a border */
/* line 2, src/sass/components/_snapshot.scss */
.img-border {
  border: 1px solid #cccccc;
}

/*  Adds a 50% border radius,
 *  turning square images into a circle. */
/* line 16, src/sass/components/_snapshot.scss */
.img-circle {
  border-radius: 50%;
}

/**
 * @section Image Classes
 * Styling for images.
 */
/**
 * Image alignment
 */
/* line 10, src/sass/components/_images.scss */
.aligncenter, .alignleft, .alignright, .alignnone {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 28em) {
  /* line 17, src/sass/components/_images.scss */
  .alignleft {
    float: left;
    margin-right: 1em;
  }
}

@media (min-width: 28em) {
  /* line 26, src/sass/components/_images.scss */
  .alignright {
    float: right;
    margin-left: 1em;
  }
}

@media (min-width: 28em) {
  /* line 35, src/sass/components/_images.scss */
  .alignnone {
    margin-left: 0;
    margin-right: 0;
  }
}

/**
 * @section Callouts
 * Styling for callout boxes
 */
/* line 6, src/sass/components/_callouts.scss */
.callout {
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  margin-bottom: 1.5625em;
  padding: 1em 1.5em;
}

/**
 * @section Honeypot
 * Styling for honeypot fields
 */
/**
 * @section Tables
 * Styling for tables
 */
/* line 6, src/sass/components/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5625em;
  max-width: 100%;
  width: 100%;
}

/* line 14, src/sass/components/_tables.scss */
th,
td {
  text-align: left;
  padding: 0.5em;
}

/* line 20, src/sass/components/_tables.scss */
th {
  border-bottom: 0.125em solid #e5e5e5;
  font-weight: bold;
  vertical-align: bottom;
}

/* line 27, src/sass/components/_tables.scss */
td {
  border-top: 1px solid #e5e5e5;
  vertical-align: top;
}

/**
 * Adds zebra striping
 */
/* line 35, src/sass/components/_tables.scss */
.table-striped tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

/**
 * Pure CSS responsive tables
 * Adds label to each cell using the [data-label] attribute
 * @link https://techblog.livingsocial.com/blog/2015/04/06/responsive-tables-in-pure-css/
 */
@media (max-width: 38em) {
  /* line 57, src/sass/components/_tables.scss */
  .table-responsive thead {
    display: none;
    visibility: hidden;
  }
  /* line 62, src/sass/components/_tables.scss */
  .table-responsive tr {
    border-top: 1px solid #ededed;
    display: block;
    padding: 0.5em;
  }
  /* line 68, src/sass/components/_tables.scss */
  .table-responsive td {
    border: 0;
    display: block;
    padding: 0.25em;
  }
  /* line 73, src/sass/components/_tables.scss */
  .table-responsive td:before {
    content: attr(data-label);
    display: block;
    font-weight: bold;
  }
}

/**
 * @section Main Nav
 * Styling for the main navigation area
 */
/**
 * The navigation container
 */
/* line 9, src/sass/components/_nav-main.scss */
.nav-wrap {
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-align: center;
}

@media (min-width: 60em) {
  /* line 9, src/sass/components/_nav-main.scss */
  .nav-wrap {
    text-align: left;
  }
}

/**
 * The logo
 */
/* line 30, src/sass/components/_nav-main.scss */
.logo {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.3125em;
  text-decoration: none;
}

@media (min-width: 60em) {
  /* line 30, src/sass/components/_nav-main.scss */
  .logo {
    float: left;
    margin-bottom: 0;
  }
}

/* line 49, src/sass/components/_nav-main.scss */
.logo, .logo:visited {
  color: #272727;
}

/* line 54, src/sass/components/_nav-main.scss */
.logo:active, .logo:focus, .logo:hover {
  color: #0088cc;
}

/* line 61, src/sass/components/_nav-main.scss */
.logo .icon {
  height: 0.8em;
  width: 0.8em;
}

/**
 * The nav menu
 */
/* line 71, src/sass/components/_nav-main.scss */
.nav {
  list-style: none;
  margin: 0 -0.5em;
  padding: 0;
  /**
	 * Active link styling
	 */
}

@media (min-width: 60em) {
  /* line 71, src/sass/components/_nav-main.scss */
  .nav {
    text-align: right;
  }
}

/* line 91, src/sass/components/_nav-main.scss */
.nav li {
  display: inline-block;
  float: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* line 107, src/sass/components/_nav-main.scss */
.nav a, .nav .link-block-styled {
  color: #808080;
  text-decoration: none;
}

/* line 115, src/sass/components/_nav-main.scss */
.nav a:hover, .nav .link-block-styled:hover, .nav .link-block:hover .link-block-styled, .link-block:hover .nav .link-block-styled,
.nav a:active,
.nav .link-block-styled:active,
.nav a:focus,
.nav .link-block-styled:focus,
.nav .active a,
.nav .active .link-block-styled {
  border-bottom: 0.125em solid #fa7176;
  color: #272727;
}

/**
 * @section Secondary Nav
 * Styling for the secondary navigation area
 */
/**
 * @section Overrides
 * Nudge and tweak alignment, spacing, and visibility.
 */
/**
 * Backgrounds
 */
/* line 11, src/sass/components/_overrides.scss */
.bg-muted {
  background-color: #f7f7f7;
}

/**
 * Borders
 */
/* line 20, src/sass/components/_overrides.scss */
.border {
  border: 1px solid #e5e5e5;
}

/**
 * Display
 */
/* line 29, src/sass/components/_overrides.scss */
.text-inline {
  display: inline-block;
}

/**
 * Font weights
 */
/* line 38, src/sass/components/_overrides.scss */
.text-normal {
  font-weight: normal;
  font-style: normal;
}

/**
 * Text sizes
 */
/* line 49, src/sass/components/_overrides.scss */
.text-small {
  font-size: 0.9375em;
}

/* line 53, src/sass/components/_overrides.scss */
.text-large, .text-xlarge {
  font-size: 1.1875em;
  line-height: 1.4;
}

@media (min-width: 38em) {
  /* line 53, src/sass/components/_overrides.scss */
  .text-large, .text-xlarge {
    font-size: 1.3125em;
  }
}

/* line 62, src/sass/components/_overrides.scss */
.text-xlarge {
  font-size: 1.7em;
}

@media (min-width: 38em) {
  /* line 62, src/sass/components/_overrides.scss */
  .text-xlarge {
    font-size: 2em;
  }
}

/**
 * Text colors
 */
/* line 76, src/sass/components/_overrides.scss */
.text-muted {
  color: #808080;
}

/* line 80, src/sass/components/_overrides.scss */
.text-muted-light, .btn del {
  color: #b2b2b2;
}

/**
 * Font weight
 */
/* line 89, src/sass/components/_overrides.scss */
.text-normal {
  font-weight: normal;
  font-style: normal;
}

/**
 * Text alignment
 */
/* line 99, src/sass/components/_overrides.scss */
.text-center {
  text-align: center;
}

@media (min-width: 38em) {
  /* line 108, src/sass/components/_overrides.scss */
  .text-right-large {
    text-align: right;
  }
}

/**
 * Floats
 */
/* line 126, src/sass/components/_overrides.scss */
.float-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Margins
 */
/* line 141, src/sass/components/_overrides.scss */
.no-margin-top {
  margin-top: 0;
}

/* line 145, src/sass/components/_overrides.scss */
.no-margin-bottom {
  margin-bottom: 0;
}

/* line 149, src/sass/components/_overrides.scss */
.margin-top {
  margin-top: 1.5625em;
}

/* line 153, src/sass/components/_overrides.scss */
.margin-bottom {
  margin-bottom: 1.5625em;
}

/* line 157, src/sass/components/_overrides.scss */
.margin-bottom-small, .error {
  margin-bottom: 0.5em;
}

/* line 161, src/sass/components/_overrides.scss */
.margin-bottom-medium {
  margin-bottom: 1em;
}

/* line 165, src/sass/components/_overrides.scss */
.margin-bottom-large {
  margin-bottom: 2em;
}

/* line 169, src/sass/components/_overrides.scss */
.margin-right {
  margin-right: 0.25em;
}

/**
 * Padding
 */
/* line 178, src/sass/components/_overrides.scss */
.no-padding-top {
  padding-top: 0;
}

/* line 182, src/sass/components/_overrides.scss */
.no-padding-bottom {
  padding-bottom: 0;
}

/* line 186, src/sass/components/_overrides.scss */
.padding-top {
  padding-top: 1.5625em;
}

/* line 190, src/sass/components/_overrides.scss */
.padding-top-small {
  padding-top: 0.5em;
}

/* line 194, src/sass/components/_overrides.scss */
.padding-top-medium {
  padding-top: 1em;
}

/* line 198, src/sass/components/_overrides.scss */
.padding-top-large {
  padding-top: 2em;
}

/* line 202, src/sass/components/_overrides.scss */
.padding-top-xlarge {
  padding-top: 3em;
}

/* line 206, src/sass/components/_overrides.scss */
.padding-bottom {
  padding-bottom: 1.5625em;
}

/* line 210, src/sass/components/_overrides.scss */
.padding-bottom-small {
  padding-bottom: 0.5em;
}

/* line 214, src/sass/components/_overrides.scss */
.padding-bottom-large {
  padding-bottom: 2em;
}

/* line 218, src/sass/components/_overrides.scss */
.padding-bottom-xlarge {
  padding-bottom: 3em;
}

/* line 222, src/sass/components/_overrides.scss */
.padding-left {
  padding-left: 1.3125em;
}

/* line 226, src/sass/components/_overrides.scss */
.padding-left-small {
  padding-left: 0.8125em;
}

/* line 230, src/sass/components/_overrides.scss */
.padding {
  padding: 1em;
}

/**
 * Visibility
 */
/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 244, src/sass/components/_overrides.scss */
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link https://www.drupal.org/node/897638
 */
/* line 261, src/sass/components/_overrides.scss */
.screen-reader-focusable:active,
.screen-reader-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}

/**
 * @workaround
 * @affected IE 8/9/10
 * @link http://juicystudio.com/article/screen-readers-display-none.php
 */
/* line 277, src/sass/components/_overrides.scss */
[hidden], template, .tarpit {
  display: none;
  visibility: hidden;
}

/**
 * Contain floats
 * The space content is one way to avoid an Opera bug when the `contenteditable` attribute is included anywhere else in the document.
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 */
/* line 289, src/sass/components/_overrides.scss */
.clearfix:before, .container:before,
.row:before, .nav-wrap:before,
.clearfix:after,
.container:after,
.row:after,
.nav-wrap:after {
  display: table;
  content: " ";
}

/* line 295, src/sass/components/_overrides.scss */

.clearfix:after,
.container:after,
.row:after,
.nav-wrap:after {
  clear: both;
}

/**
 * @section Print
 * Styling for printed content. Adapted from HTML5BP.
 * @link http://html5boilerplate.com
 */
@media print {
  /**
	 * Universal selector.
	 * Reset all content to transparent background, black color, and remove box and text shadows.
	 */
  /* line 13, src/sass/components/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /**
	 * Specifies page margin
	 */
  @page {
    margin: 0.5cm;
  }
  /**
	 * Underline all links
	 */
  /* line 30, src/sass/components/_print.scss */
  a, .link-block-styled, a:visited, .link-block-styled:visited {
    text-decoration: underline;
  }
  /**
	 * Show URL after links
	 */
  /* line 38, src/sass/components/_print.scss */
  a[href]:after, .link-block-styled[href]:after {
    content: " (" attr(href) ")";
  }
  /**
	 * Don't show URL for internal links
	 */
  /* line 45, src/sass/components/_print.scss */
  a[href^="#"]:after, .link-block-styled[href^="#"]:after {
    content: "";
  }
  /**
	 * Specifies the minimum number of lines to print at the top and bottom of a page.
	 */
  /* line 52, src/sass/components/_print.scss */
  p,
  h1, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  /**
	 * Avoid inserting a page break after headers
	 */
  /* line 61, src/sass/components/_print.scss */
  h1, h2, h3 {
    page-break-after: avoid;
  }
  /**
	 * Change border color on blockquotes and preformatted text.
	 * Avoid page breaks inside the content
	 */
  /* line 69, src/sass/components/_print.scss */
  pre,
  blockquote {
    border-color: #999;
    page-break-inside: avoid;
  }
  /**
	 * Displayed as a table header row group
	 */
  /* line 78, src/sass/components/_print.scss */
  thead {
    display: table-header-group;
  }
  /**
	 * Avoid inserting a page break inside table rows and images
	 */
  /* line 85, src/sass/components/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }
}
