<form action="https://gomakethings.us1.list-manage.com/subscribe/post?u=f2d244c0df42a0431bd08ddea&amp;id=aeaa9dd034" method="post" name="mc-embedded-subscribe-form" id="mailchimp-form" novalidate>
	<div class="row">
		<div class="grid-two-thirds">
			<div class="tarpit">
				<label for="name">If you're human, leave this blank</label>
				<input type="text" name="name" id="name" value="">
			</div>
			<div>
				<label class="screen-reader" for="mailchimp-email">Email Address</label>
				<input type="email" name="email" id="mailchimp-email" placeholder="Your email address..." required>
			</div>
			<input type="hidden" name="TbVktzD9dNZiQyZQ3Dk64w6L" value="WqJELdqqHHFTLUrEWJLu4DspKjeoBawWdWnZVVwti7RYpCyLr8WoWtm7UozshPy6">
			<input type="hidden" name="group[aaf6f8b9a3]" value="1"><!-- Daily Tips Group -->
			<input type="hidden" name="group[99b136402a]" value="1"><!-- Source Group -->
		</div>
		<div class="grid-third">
			<button data-processing="Signing Up..." data-ready="Get Daily Developer Tips" class="btn btn-block" type="submit">Get Daily Developer Tips</button>
		</div>
	</div>
	<div id="mc-status"></div>
</form>