<header class="container container-large margin-bottom-large">
	<nav class="nav-wrap">
		<a class="logo" href="{{ .Site.BaseURL }}">
			<svg xmlns="http://www.w3.org/2000/svg" style="height:.8em; width:1em;" viewBox="0 0 16 16"><title></title><path fill="currentColor" d="M11.5 4l1.75 1.75L9.5 9.5l-3-3L0 13l1 1 5.5-5.5 3 3 4.75-4.75L16 8.5V4z"/></svg>
			{{ .Site.Title }}
		</a>
		<div class="nav-menu" id="nav-menu">
			<ul class="nav">
				{{ partial "nav-items.html" . }}
			</ul>
		</div>
	</nav>
</header>